{% extends 'galeria/base.html' %}
{% load static%}
{% block content %}
            </section>
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if fotografias.foto ==  "" or fotografias.foto == null %}
                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/images.jpg'%}" alt="foto">
                        {% else %}
                        <img class="card__imagem" src="{{fotografias.foto.url}}" alt="foto">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{fotografia.nome}}</p>
                                <p class="imagem__descricao">{{fotografia.legenda}}</p>
                                <p class="imagem__texto">{{fotografia.descricao}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}